# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
myenv/
venv/
.env

# Large Data Files (but keep models for cloud deployment)
data/raw/
# data/processed/
*.parquet
# *.csv
*.nc
# *.jsonl
# Uncomment below if models are < 100MB:
*.h5
*.pkl
*.joblib
*.json


# Logs
logs/

# IDE
.vscode/
.idea/

# OS
.DS_Store
